<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.secd.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.secd.entity.Teacher">
        <id column="TeacherID" property="TeacherID" />
        <result column="Name" property="Name" />
        <result column="Gender" property="Gender" />
        <result column="Address" property="Address" />
        <result column="PhoneNumber" property="PhoneNumber" />
        <result column="DateOfBirth" property="DateOfBirth" />
        <result column="Education" property="Education" />
        <result column="Title" property="Title" />
        <result column="HireDate" property="HireDate" />
        <result column="CollegeID" property="CollegeID" />
        <result column="UserType" property="UserType" />
    </resultMap>

</mapper>
